{:prod false
 :db {:host "localhost"
      :name "fakere"
      :username "fakere"
      :password "fakere"}
 :migrator {:migrations-dir "migrations"
            :host "localhost"
            :name "fakere"
            :username "fakere"
            :password "fakere"}}
