{:prod false
 :db {:host "localhost"
      :name "bartleby"
      :username "bartleby"
      :password "bartleby"}
 :migrator {:migrations-dir "migrations"
            :host "localhost"
            :name "bartleby"
            :username "bartleby"
            :password "bartleby"}}
